<div class="process-select">
  <div class="d-flex flex-column align-items-left">
    <select id="select_graphtype" class="mb-2">
      <option> line chart</option>
      <option value="fa fa-address-card"> Pie Chart</option>
  </select>
    <select>
      <option value="volvo" data-icon="https://images.unsplash.com/photo-1604699229817-27301bdfed68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80"><div>Volvo <fa-icon [icon]="configIcon"></fa-icon></div></option>
      <option value="saab" data-icon="https://images.unsplash.com/photo-1604699229817-27301bdfed68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80">Saab</option>
      <option value="mercedes" data-icon="https://images.unsplash.com/photo-1604699229817-27301bdfed68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80">Mercedes</option>
      <option value="audi" data-icon="https://images.unsplash.com/photo-1604699229817-27301bdfed68?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80">Audi</option>
    </select>
  </div>
</div>
