.process-scan{
  padding: 12px 0;
  width: 120px;
  border-radius: 8px;
  background-color: #Eff7f8;
}

button {
  width: 80px;
  padding: 0 16px;
  font-size: 16px;
  color: #333;
  background-color: #f7d6e0;
  border-radius: 12px;
  border: 0;
}

button:hover {
  background-color: #f492af;
}

label {
  user-select: none;
}